<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
	<meta charset="utf-8">
	<META NAME="title" CONTENT="Story Teller"></META>
	<META NAME="description" CONTENT="Interactive stories"></META>
	<META NAME="keywords" CONTENT=""></META>



	<title>Story Teller</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1, user-scalable=no">


	<!-- Bootsrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- Loading Bootstrap -->
	<link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet" >

	<!-- Loading Flat UI -->
	

    	<link rel="stylesheet" type="text/css" href="assets/css/main.css" />
    
    
    	<link rel="stylesheet/less" type="text/css" href="assets/less/main.less" />
	<!-- Loading SF Icons  -->
	<link rel="stylesheet" href="assets/css/fontello-embedded.css">
	<link rel="stylesheet" href="assets/css/animation.css">
	
<!-- for carousel -->
    
    <script type="text/javascript" src="//use.typekit.net/kei2cfp.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
    
    
        <style>
      /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
      * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  font-family: "europa-1","europa-2", sans-serif;
  overflow: hidden;
}

.wrapper {
  width: 100% - 55px;
  
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

/**
 * Use this wrapper only for demo purposes
 * So you can show the items outside the wrapper
 */
.wrapper--demo {
  overflow: visible;
    margin-left: 55px;
}
.wrapper--demo:after, .wrapper--demo:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 2;
}
.wrapper--demo:before {
  left: -100%;
}

.carousel {
  width: 100%;
  position: relative;
}
.carousel .carousel__content {
  width: auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transition: translate3d(0, 0, 0);
}
.carousel .carousel__content .item {
  display: block;
  float: left;
  width: 100%;
  position: relative;
}
.carousel .carousel__content .item .title {
  position: absolute;
  top: 50%;
  left: 0;
  margin: -33px 0 0 0;
  padding: 0;
  font-size: 3rem;
  width: 100%;
  text-align: center;
  letter-spacing: .3rem;
  color: #FFF;
}
.carousel .carousel__content .item .title--sub {
  margin-top: 20px;
  font-size: 1.2em;
  opacity: .5;
}
.carousel .carousel__content .item img {
  width: 100%;
  max-width: 100%;
  display: block;
}
.carousel .carousel__nav {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -17px;
  left: 0;
  z-index: 1;
}
.carousel .carousel__nav .nav {
  position: absolute;
  top: 0;
  color: #000;
  background: #FFF;
  padding: 8px 12px;
  font-weight: bold;
  text-decoration: none;
  font-size: .8rem;
  transition: padding .25s ease;
}
.carousel .carousel__nav .nav:hover {
  padding: 8px 20px;
}
.carousel .carousel__nav .nav--left {
  border-radius: 0px 3px 3px 0px;
}
.carousel .carousel__nav .nav--right {
  right: 0;
  border-radius: 3px 0px 0px 3px;
}
            
            .for-search-res{
                margin-left: 55px;
            }
            
            
            .left-div{
                
                background-color: firebrick;
            }
            
            .story-search{
                margin-left: 2%;
                width: 76%;
                height: 100%;
                background-color: darkviolet;
            }

    </style>

    
        <script src="assets/js/prefixfree.min.js"></script>

    

    
</head>

<body class="one-spot home">
	
		<div class="navbar main-menu">
			<ul class="nav">
				<li>
					<a href="/home" class="menu-menu icon-menu" title="Menu"></a>
				</li>
				<li>
					<a href="/new-story" class="menu-back icon-pencil" title="Create"></a>
				</li>
				<li>
					<a href="#load-wrap" class="menu-location icon-search" title="Search"></a>
				</li>


			</ul>
		</div>
    
    <div class="wrapper wrapper--demo">
	<div class="carousel">
		<div class="carousel__content">
			<div class="item">
        <p class="title">First</p>
        <img src="https://wallpaperscraft.ru/image/strazhi_galaktiki_guardians_of_the_galaxy_enot_raketa_98783_1366x768.jpg" alt="">
      </div>
			<div class="item">
        <p class="title">Second</p>
        <img src="http://luxfon.com/pic/201203/1366x768/luxfon.com-3686.jpg" alt="">
      </div>
			<div class="item">
        <p class="title">Third</p>
        <img src="http://www.kinogallery.com/img/wallpaper/kinogallery-wallpaper-0035337001455185585-1366x768.jpg" alt="">
      </div>
			<div class="item">
        <p class="title">Fourth</p>
        <img src="http://www.topoboi.com/pic/201309/1366x768/topoboi.com-14613.jpg" alt="">
      </div>
			<div class="item">
        <p class="title">Fifth</p>
        <img src="http://placehold.it/1800x850/F77C85/FFF&text=&nbsp;" alt="">
      </div>
			<div class="item">
        <p class="title">Sixth</p>
        <p class="title title--sub">Last Item</p>
        <img src="http://placehold.it/1800x850/00FFAE/FFF&text=&nbsp;" alt="">
      </div>
		</div>
    
    <div class="carousel__nav">
      <a href="#" class="nav nav--left">Previous</a>
      <a href="#" class="nav nav--right">Next</a>
    </div>
    
	</div>
</div>
    <div class="container-fluid for-search-res">
    <div class="row">
        
<div class="right-div">
  
							<div class="highlights">
								<div></div>
								<div ></div>
								
									<div class="categories">

										<a name="highlights"></a>
										<h5><a href="#highlights">Genres</a></h5>
										<select name="dispCBO" onChange="getDispCombo(this);">
											<option value="98">Drama</option>
											<option value="9">Romantic</option>
											<option value="2">Fairy Tale</option>
											<option value="5">Detective</option>
											<option value="6">Fantasy</option>
											<option value="8">Horror</option>
											<option value="4">Adventure</option>

										</select>
										<ul class="hide cat-list">
											<li class="first all" id="99"><a href="#" onClick="dispPod=99;getPods(98);getDispInfo(98);">Drama</a></li>
											<li class="children" id="9"><a href="#" onClick="dispPod=9;getPods(9);getDispInfo(9);">Romantic</a></li>
											<li class="dance" id="2"><a href="#" onClick="dispPod=2;getPods(2);getDispInfo(2);">Fairy Tale</a></li>
											<li class="festivals" id="5"><a href="#" onClick="dispPod=5;getPods(5);getDispInfo(5);">Detective</a></li>
											<li class="film" id="6"><a href="#" onClick="dispPod=6;getPods(6);getDispInfo(6);">Fantasy</a></li>
											<li class="galleries" id="8"><a href="#" onClick="dispPod=8;getPods(8);getDispInfo(8);">Horror</a></li>
											<li class="literary" id="4"><a href="#" onClick="dispPod=4;getPods(4);getDispInfo(4);">Adventure</a></li>

										</ul>

									</div>

								<!-- inside -->
							</div>
							<!-- /highlights -->

        </div>
		<!-- ANCHOR! ARRRG! -->
		<a name="load-wrap"></a>
        <div class="load-wrap"></div>
        
      </div>  
        
        
  </div>

	<!-- Load JS here for best performance -->

	<script type="text/javascript">
		less = {
			env: "production", // or "production" or development
			dumpLineNumbers: "mediaquery"
		};

	</script>


	<script type="text/javascript" src="http://fast.fonts.net/jsapi/a130c1a8-90b4-49d3-b459-6e4ce45cea2e.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

	<script>
		//$('#loader').show();

	</script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    
    
	<script src="assets/js/response.min.js"></script>
	<script src="assets/js/compressed.js"></script>
	<script src="assets/js/custom.js"></script>
	<script src="assets/js/Handlebars.js"></script>
	<script src="assets/js/moment.js"></script>
	<script src="assets/js/jquery.serializecfjson-0.2.min.js"></script>






	<script type="text/javascript">
		//$('#loader').show(); 
		$(document).ready(function(e) {
			$('#loader').show();



			onIndexPageLoad();
			checkDatesInBookmarks();


		});

	</script>
	<!--VISISTAT SNIPPET//-->
	<SCRIPT TYPE="text/javascript">
		var DID = 12737;

	</SCRIPT>
	<SCRIPT SRC="http://sniff.visistat.com/sniff.js" TYPE="text/javascript"></SCRIPT>
	<!--VISISTAT SNIPPET//-->

	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-9189676-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script');
			ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
		})();

	</script>
    

	<!-- Own js -->
	<script type="text/javascript" src="assets/js/homeMain.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.9/jquery.transit.min.js'></script>

        <script src="assets/js/index.js"></script>

</body>

</html>
