<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head lang="en">
	<meta charset="UTF-8">
	<title>
		<%= pageTitle %> - StoryTeller
	</title>

	<!-- Bootsrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<!-- Loading Bootstrap for menu-->
	<link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet" />

	<!-- Loading Flat UI-->
	<link rel="stylesheet" type="text/css" href="assets/css/main.css" />

	<!-- Loading SF Icons  -->
	<link rel="stylesheet" href="assets/css/fontello-embedded.css">
	<link rel="stylesheet" href="assets/css/animation.css">
	<!-- LESS основний файл -->
	<link rel="stylesheet/less" type="text/css" href="assets/less/main.less" />

	<link rel="stylesheet/less" type="text/css" href="assets/less/story.less" />

	<link href="assets/css/bootstrap-switch.css" rel="stylesheet">

	<script src="assets/js/bootstrap-switch.js"></script>
	<!-- LESS JavaScript компілятор -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>

</head>

<body id="body-elem" class="original">

	<div class="container-fluid cont-for-all">

		<div class="navbar main-menu">
			<ul class="nav">
				<li>
					<a href="/" class="menu-menu icon-menu" ></a>
				</li>
				<li>
					<a href="/new-story" class="menu-back icon-pencil" ></a>
				</li>
				<li>
					<a href="/home#load-wrap" class="menu-location icon-search" ></a>
				</li>


			</ul>
		</div>
		<!-- /navbar -->


		<div class="main-cont">
			<div class="temp">
				<h5>You are reading: <span id="story-name"></span></h5>
				<span class="for-author"><h5 >by <span id="story-author"></span></h5>
				</span>
			</div>
			<div class="container-canvas story-cont col-sm-9 col-md-9 col-lg-9">
				<div class="story-info">

					<div class="story-info-body">
						<div class="panel panel-warning for-node">
							<div class="panel-heading" id='node-title'></div>
							<div id="node-text" class="panel-body">
							</div>
						</div>


						<img class="img-genre" src="https://www.nyu.edu/projects/salt2014/SALT_2014/Home_files/New%20York%20City%20Skyline.png">
					</div>


				</div>
			</div>
			<div class="navig-pan col-sm-3 col-md-3 col-lg-3">

				<button type="button" class="btn btn-link" id="navigation-back">Back</button>

				<div id="variants" class="container-fluid"></div>
			</div>

		</div>
	</div>
	<!-- jQuery JavaScript -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jsPlumb/1.4.1/jquery.jsPlumb-1.4.1-all-min.js"></script>
	<!-- scrolling lib -->
	<script src="./../../../libs/jquery-scrollto.js"></script>
	<!--Bootsrap JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>


	<script src="assets/js/response.min.js"></script>
	<script src="assets/js/compressed.js"></script>
	<script src="assets/js/custom.js"></script>
	<script src="assets/js/Handlebars.js"></script>
	<script src="assets/js/moment.js"></script>
	<script src="assets/js/jquery.serializecfjson-0.2.min.js"></script>

	<!--Own JavaScript -->
	<script type="text/javascript" src="assets/js/readerMain.js">


	</script>

</body>

</html>
