<div class = "test-story">
<div class="story-card">
<div class="col-xs-6 col-sm-4 col-md-3 for-story-main">
<div class="story-i">
<h3><%=story.title%></h3>
<h5>by <%= story.author %></h5>
<h4> Genre: <%= story.genre %></h4>

    <h6><%= story.description %></h6>
    <div class="btn btn-xs btn-default btn-circle link-to-read">Read</div>
    
    
</div>
</div>
</div>