<div id="<%= id %>" class="story-node">
    
	<p class="story-node-text">
		<%= message %>
        
	</p>
    
    
	<div class="btn btn-xs btn-success btn-circle add-child">+</div>
    <div class="btn btn-xs btn-success btn-circle edit-btn">e</div>
    
	<div class="btn btn-xs btn-danger btn-circle self-remove">-</div>
</div>
